<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>JSON Reader App</strong>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Students</a>
      <a class="navbar-item" href="/barangay">Barangay</a>
      <a class="navbar-item" href="/products">Products</a>
      <a class="navbar-item" href="/about">About</a>
    </div>
  </div>
</nav>
